body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #a5d916;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    color: #fff;
    font-size: 24px;
}

article {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

h3 {
    color: #a5d916;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}

iframe {
    max-width: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    margin: 20px auto;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.feature-title {
    text-decoration: underline;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}
